# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID="97jei0ea"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2024-03-01"
SANITY_API_TOKEN="skFTQNY2PPHm4JFQR3c18q5HfNNDsYvVs8xTcb2p6qaSUupAFRy636iMTcxlJ6hkZgmV4TW8zACegV4oBblihBnKQAyqUGVL1OqLYIZNIgRbTqoxwmE4lBgH299mxDnzzz3zIQGSxFndlwl46Tfuqji8pUp31vv5jLxoDfpNzBeiOPcLeelH"

# Cloudflare R2 Configuration
R2_ACCOUNT_ID="516d4d7c8a274b7f897979999bcb096b"
R2_ACCESS_KEY_ID="80077dcf329a6b01c33e2c44b2b31e9b"
R2_SECRET_ACCESS_KEY="506cbfc47728c0c24cb2756620e9936fcddd35f0ed9c633102454c6ddb86f2b4"
R2_BUCKET_NAME="protofilo"
NEXT_PUBLIC_R2_PUBLIC_URL="https://assets.ganeshshah.com"